.App {
  text-align: center;
}
#root{
  width: 100%;
  display: flex;
  justify-content: center;
}
body{
  background-image:url(img/bg.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player-right{
  margin:30px 0px;
  border-radius: 40px;
  background: rgba(88, 130, 193, 0.28);
  backdrop-filter: blur(12.5px);
}
.wrap-right{
  margin-top:30px;
  border-radius: 40px;
  background: rgba(88, 130, 193, 0.28);
  backdrop-filter: blur(12.5px);
  padding:30px;
}
.blur{
  background: rgba(88, 130, 193, 0.28);
  padding:30px;
  backdrop-filter: blur(12.5px);

}
.wrap-title{
  margin-top: 30px;
  margin-left:20px;
  border-radius: 20px;
  width: fit-content;
  
}
.choice-wrap{
  border-radius: 12px;
  padding: 15px;
  text-transform: uppercase;
  margin:30px;
  font-weight: 700;
  background-color: #2891ae;
  box-shadow: rgb(255 255 255) 0px -2px 16px 4px;
  width: 120px;
  text-align: center;
}
.nav-wrap ul li{
  list-style: none;
  

}
.nav-wrap ul li a{
  
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;

}
.outer-nav{
  width: 100%;
}
.nav-wrap ul{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap:20px;
  margin:0px 30px 30px 0px;
}
.line-history {
  background-color: #142548;
  padding:15px;
  border-radius: 15px;
  margin:20px 0px;
  text-transform: uppercase;
}
.hist-rival{
  width: 125px;
  
}
.line-history div{
  margin:0px 15px;
}
.wrap-history{
  border-radius: 30px;
  padding:40px;
}
.div-room{
  border-radius: 30px;
  padding: 40px;
}
.choice-wrap:hover{
  background-color: #06171b;
}
.wrap-make-room{
  margin-top:30px;
  border-radius: 30px;
  min-height: 500px;
}
.boxRoom{
  width: fit-content;
  border-radius: 20px;
  margin: 20px;
}
.wrap-right *{
  color:#FFFFFF;
}
.wrap-right p{
  font-size: 18px;
  font-weight: 600;
}
.font-weight-bold{
  font-weight: 700 !important;
}
body *{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color:#FFFFFF;
  
}
h2.h2{
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  color: #FFFFFF;
}
label.label{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.row-wrap{
  min-height: 300px;
  background: rgba(88, 130, 193, 0.28);
  backdrop-filter: blur(12.5px);
  border-radius: 40px;
  padding:50px;
  min-width: 500px;
  max-width: 500px;
}
.player-wrap{
  height: 100vh;
  width: 100%;
}
.button-submit{
  background: #003465;
  border-radius: 10px;
  border:0;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding:15px;
  text-align: center;
  width: 100%;
  margin-top:30px;
  align-items: center;
  justify-content: center;
}
.mt30{
  margin-top: 30px;
}
.input{
  background: #FFFFFF;
  border: 0px solid #BCBEC0;
  border-radius: 10px;
  padding: 10px;
  margin-top:10px;
  min-width: 400px;
  color: #003465;
}
.input::placeholder{
  
}
.text-center::placeholder{
  text-align: center;
}
.button-auto{
  width: auto;
  padding:15px 30px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-room-create .outer-nav{
  margin-top:0 !important
}
.wrap-side{
  padding:30px;
  border-radius: 30px;
}
.wrap-side a{
  font-weight: 700;
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  
}
.wrap-side ul{
  list-style: square;
}

.wrap-side ul li{
  margin:30px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
